    <div>
    	<div>
	        <div>
	          <button  {{action 'getMessage'}}>
				    	hello guice
			  </button>
			  {{view Ember.TextArea valueBinding="message" rows="5" placeholder=""}}
	        </div>
        </div>
    </div>
